body {
    background-color: #efefef;
}

.main {
    background-color: white;
    margin: 30px;
}

.footer {
    color: #666;
    text-align:center;
    font-size: 13px;
}

.btn-publish {
    float: right;
    margin-bottom: 15px;
}

.media-object {
    width: 40px;
    height: 40px;
}

.media-body {
    padding: 10px;
}

.text-desc {
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

.profile.section {
    margin-top: 15px;
}

.question-tag {
    margin-right: 5px;
}

.question-related {
    line-height: 20px;
    font-size: 12px;
    padding-left: 0;
    list-style: none;
}

.question-title {
    margin-top: 25px;
}

.publish-tag-tab {
    display: none;
    margin-top: 10px;
    padding-top: 10px;
}

.publish-tag-tab .label-info{
    white-space: normal;
    display: inline-block;
    margin: 5px 5px;
}

.community-menu {
    margin-bottom: 15px;
    font-size: 13px;
    color: #999;
}

.jumbotron {
    margin: 50px;
}

.comment {
    margin: 10px 0;
}

.comments {
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 5px;
}

.comment-btn {
    float: right;
    margin-bottom: 10px;
}

.sub-comments {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #eee;
    padding-top: 15px;
    margin-bottom: 15px;
}

.sub-comments .btn {
    margin: 10px 0;
}

.comment-sp {
    margin-top: 0;
}

.menu {
    color: #999;
    margin-top: 5px;
}

.menu .icon {
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;

}

.menu .comment-icon {
    font-size: 15px;
    cursor: pointer;
}

.menu .comment-icon:hover {
    color: #499ef3;
}

.menu .active {
    color: #499ef3;
}

.menu .icon:hover {
    color: #499ef3;
}

